doctype
html
  head
    title Index page
    link(rel='stylesheet', href='/css/main.css')
    // for mobile
    meta(name='viewport', content='width=device-width, initial-scale=1')/
  body
    // header section
    nav.top-nav
      div.container-fluid
        div.navbar-header
          a.navbar-brand(href='/') Header Section
    // body section
    div.container-fluid
      div.jumbotron !{jumbotron}
        div.sign-up Signup
      div.proposition !{proposition}
      div.benefits
        for benefit in benefits
          div.benefit !{benefit}
      div.topics
        for topic in topics
          div.topic !{topic}
      div.call-to-action !{callToAction}
        div.sign-up Signup
    // footer section
    div.footer Footer section
